
<div class="row">
    <div class="col-3" style=""></div>
    <div class="col-6" style="text-align: center; padding-top: 20pt">
        <img src="./lib/img/main_logo_transparent.png" style="width: 50%">
    </div>
    <div class="col-3" style=""></div>
</div>

<!--Fluxo//-->
<div class="row">
        <div class="col-2" style=""></div>
        <div class="col-8" style="text-align: center; padding-top: 20pt">
            <img src="./lib/img/fluxo_transparent.png" style="width: 100%">
        </div>
        <div class="col-2" style=""></div>
</div>

<!--botão play//-->
<div class="row">
        <div class="col-12" style="text-align: center; padding-top: 20pt">
            <button ng-click="loadMainContent('rooms');" class="btn btn-primary btn-lg"><h1>Play!</h1></button>
        </div>
</div>

<!--Ranking//-->
<div class="row">
        <div class="col-12" style="text-align: center; padding-top: 20pt">
            
        </div>
</div>