<div ng-controller="ProfileCtrl" style="background-color: #FCFCFC; padding: 10px 10px 10px 10px">
  <div class="row">
   <div class="col-12" style="text-align: center">
        <i style="cursor: pointer; padding-top: 30px" class="material-icons md-100">
                account_circle
        </i><br>
       
   </div>
  </div>

  <div class="row" style="font-size: 10pt">
   <div class="col-12">
         <span style="font-weight: bold">
              Bem vindo!
         </span>
         {{user.name}} 
   </div>
  </div>
  <div class="row">
        <div class="col-12">
            <span style="font-weight: bold;  font-size: 10pt">
                        Senha:
            </span>
            <span style="cursor: pointer ;color:#488AFF; font-size: 10pt">
                (clique aqui para alterar)
            </span>
            
        </div>
    </div>



    
</div>